services:
  # ===============================
  # AUTH MICROSERVICE
  # ===============================
  auth-service:
    build:
      context: ./auth-microservice
      dockerfile: Dockerfile
    container_name: auth-service
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./auth-microservice:/var/www/auth-service
      - /var/www/auth-service/vendor
    depends_on:
      auth-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_net

  auth-db:
    image: mysql:8
    container_name: auth-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: auth_db
    ports:
      - "3307:3306"
    volumes:
      - auth_data:/var/lib/mysql
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

  # ===============================
  # RESERVATION MICROSERVICE
  # ===============================
  reservation-service:
    build:
      context: ./reservation-microservice
      dockerfile: Dockerfile
    container_name: reservation-service
    restart: always
    ports:
      - "8002:8002"
    volumes:
      - ./reservation-microservice:/var/www/reservation-service
      - /var/www/reservation-service/vendor
    depends_on:
      reservation-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_net

  reservation-db:
    image: mysql:8
    container_name: reservation-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: reservation_db
    ports:
      - "3308:3306"
    volumes:
      - reservation_data:/var/lib/mysql
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

  # ===============================
  # REPORTS MICROSERVICE
  # ===============================
  reports-service:
    build:
      context: ./reports_microservice
      dockerfile: Dockerfile
    container_name: reports-service
    restart: always
    ports:
      - "8001:8001"
    environment:
      DEBUG: "False"
      DJANGO_ENV: production

      # conexión a la base de reservas
      DB_HOST: reservation-db
      DB_NAME: reservation_db
      DB_USER: root
      DB_PASSWORD: secret
      DB_PORT: "3306"

    depends_on:
      reservation-db:
        condition: service_healthy
    networks:
      - app_net

# ===============================
# AUDIT MICROSERVICE
# ===============================

  audit_service:
    build:
      context: ./audit_microservice
      dockerfile: Dockerfile
    container_name: audit_service
    restart: always
    ports:
      - "5004:5004"
    environment:
      MONGO_URI: mongodb://admin:admin123@mongodb_audit:27017/audit_db?authSource=admin
      MONGO_DB: audit_db
    depends_on:
      mongodb_audit:
        condition: service_healthy
    networks:
      - app_net

  mongodb_audit:
    image: mongo:6
    container_name: mongodb_audit
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: audit_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 10s
      retries: 5

# ===============================
# NOTIFICATIONS  MICROSERVICE
# ===============================

  notifications-service:
    build:
      context: ./notifications_microservice
      dockerfile: Dockerfile
    container_name: notifications-service
    restart: always
    ports:
      - "5000:5000"
    environment:

      #Configuración del servidor de correo
      MAIL_SERVER: smtp.gmail.com
      MAIL_PORT: "587"
      MAIL_USE_TLS: "True"
      MAIL_USE_SSL: "False"
      MAIL_USERNAME: pruebasopsmz@gmail.com
      MAIL_PASSWORD: "fnop mcib fknp vjhb"
      MAIL_DEFAULT_SENDER: pruebasopsmz@gmail.com

      #Gateway API
      GATEWAY_URL: http://auth-service:8000
      API_KEY: MiSuperLlaveUltraSecreta_z1127 

      # Variables de entorno para conectar a MySQL de AUTH
      AUTH_DB_HOST: auth-db
      AUTH_DB_NAME: auth_db
      AUTH_DB_USER: root
      AUTH_DB_PASSWORD: secret
      AUTH_DB_PORT: "3306"

      # Variables de entorno para conectar a MySQL de RESERVAS
      RESERVATION_DB_HOST: reservation-db
      RESERVATION_DB_NAME: reservation_db
      RESERVATION_DB_USER: root
      RESERVATION_DB_PASSWORD: secret
      RESERVATION_DB_PORT: "3306"

    depends_on:
      auth-db:
        condition: service_healthy
      reservation-db:
        condition: service_healthy
    networks:
      - app_net

# ===============================
# NETWORK & VOLUMES COMPARTIDOS
# ===============================
networks:
  app_net:
    driver: bridge

volumes:
  auth_data:
  reservation_data:
  mongo_data:
