services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-service
    restart: always
    ports:
      - "8000:8000"     # Puerto expuesto correctamente
    volumes:
      - .:/var/www/auth-service          # Código fuente
      - /var/www/auth-service/vendor     # Vendor del contenedor (evita sobrescritura)
    depends_on:
      auth-db:
        condition: service_healthy        # Espera a que MySQL esté listo
    networks:
      - app_net   

  auth-db:
    image: mysql:8
    container_name: auth-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: auth_db
    ports:
      - "3307:3306"
    volumes:
      - auth_data:/var/lib/mysql
    networks:
      - app_net  
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

networks:
  app_net:
    driver: bridge

volumes:
  auth_data:
