services:
  reservation-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reservation-service
    restart: always
    ports:
    #Puerto en tu PC : Puerto en el contenedor
      - "8002:8002"   
    volumes:
      - .:/var/www/reservation-service
      - /var/www/reservation-service/vendor
    depends_on:
      reservation-db:
        condition: service_healthy
    networks:
      - app_net   

  reservation-db:
    image: mysql:8
    container_name: reservation-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: reservation_db
    ports:
      - "3308:3306"   
    volumes:
      - reservation_data:/var/lib/mysql
    networks:
      - app_net  
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

networks:
  app_net:
    driver: bridge

volumes:
  reservation_data:
